<head>
    <meta property="og:title" content="shoblog - {{article.name}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://api.shobu.fr/{{article.thumbnail.url}}">
    <meta property="og:url" content="https://shobu.fr/article/{{article.slug}}">
    <meta property="og:description" content="{{article.headline}}">
    <meta property="twitter:title" content="shoblog - {{article.name}}">
    <meta property="twitter:type" content="website">
    <meta property="twitter:image" content="https://api.shobu.fr/{{article.thumbnail.url}}">
    <meta property="twitter:url" content="https://shobu.fr/article/{{article.slug}}">
    <meta property="twitter:description" content="{{article.headline}}">
</head>

{{article.name}}<br/>
{% for tag in article.tags.all %}
{{ tag.name }},
{% endfor %}
<br/>
{{ article.headline }}<br/>
{{ article.text }}